.separator {
    padding: 30px;
}

.pokemon-image {
    border: 1px solid transparent;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
    padding: 20px;
    background-color: rgb(243, 243, 243);
}

.pokemon-image img {
    width: 300px;
}

.buttons {
    padding: 10px;
}

button, .type {
    padding: 10px 12px;
    display: inline;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    text-align: center;
}

.types {
    list-style-type: none;
}

.type {
    margin: 0 5px;
}

button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.16);
}

button:disabled {
    cursor: default;
    background-color: rgba(0, 0, 0, 0.4);
}

.catch {
    background: rgb(206, 233, 108);
}

.male {
    background: rgb(120, 192, 252);
}

.female {
    background: rgb(248, 105, 105);
}

.rotate {
    display: inline;
    padding: 10px;
    background: rgb(247, 179, 91);
}

.pokemon-info {
    padding: 0 30px;
}

ul {
    padding: 0;
}

.info-key, p {
    color: #727272;
}

.separate {
    margin: 0 20px;
}

.recently-searched {
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: rgb(243, 243, 243);
    padding: 30px;
}

.recently-searched h4 {
    margin: 10px 0;
    color: #8a8a8a;
}

.card-recent {
    display: inline-block;
    padding: 10px;
    position: relative;
    margin: 20px 30px;
    cursor: pointer;
    -ms-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.card-recent:hover .recent-pokemon {
    background-color: #fafafa;
}

.card-recent:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.card-recent::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url('/assets/svg/corner-recent-right.svg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 15% 92%;
    z-index: 10;
    -ms-transform: translate(8.7%, -91.4%);
    -webkit-transform: translate(8.7%, -91.4%);
    -o-transform: translate(8.7%, -91.4%);
    transform: translate(8.7%, -91.4%);
}

.card-recent::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/assets/svg/corner-recent-left.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 0% 0%;
    z-index: 10;
    -ms-transform: translate(-49.7%, -3.7%);
    -webkit-transform: translate(-49.7%, -3.7%);
    -o-transform: translate(-49.7%, -3.7%);
    transform: translate(-49.7%, -3.7%);
}

.recent-pokemon {
    padding: 10px 40px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
}

.recent-pokemon h4 {
    color: #e6ac00;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    margin-top: 25px;
}

.recent-pokemon img {
    width: 150px;
}

.type {
    display: inline-block;
    margin: 5px;
}