<div class="separator"></div>
<div class="container" ngDefaultControl [(ngModel)]="currentPokemon" *ngIf="currentPokemon">
    <div class="row">
        <div class="col-md-6 title">
            <div class="back-button">
                <button (click)="goBack()">
                    <i class="fa fa-caret-left"></i>
                </button>
            </div>
            <div class="pokemon-title">
                <h4>
                    {{currentPokemon.name | capitalizeLetters:'01'}}
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pokemon-image">
            <img id="pokemon-image" class="responsive" src="{{currentPokemon.sprites.front_default}}" alt="">
            <div class="buttons">
                <button id="gender" class="sex {{currentMaleFemaleText}}" (click)="toggleMaleFemale($event)" ngDefaultControl [(ngModel)]="currentMaleFemaleText">
                    <i id="gender-icon" class="fa fa-mars"></i>
                </button>
                <button id="rotate" class="rotate" (click)="rotateImage()">
                    <i *ngIf="!currentRotation" class="fa fa-rotate-right"></i>
                    <i *ngIf="currentRotation" class="fa fa-rotate-left"></i>
                </button>
                <button id="catch" class="catch" (click)="addMyPokemon(currentPokemon)">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="col-md-6 pokemon-info">
            <ul class="types">
                <span>Types:</span>
                <li class="{{type.type.name}} type" *ngFor="let type of currentPokemon.types" (click)="openTypesModal(type.type.name)">{{type.type.name}}</li>
            </ul>
            <span class="info-key">Weight:
                <b>{{ currentPokemon.weight | number:'1.0' }}kg</b>
            </span>
            <span class="separate">|</span>
            <span class="info-key">Height:
                <b>{{ currentPokemon.height | number:'1.0' }}cm</b>
            </span>
            <ul class="types">
                <span>Double damage to:</span>
                <li *ngFor="let type of currentTypes">
                    <div class="{{double_to.name}} type" *ngFor="let double_to of type.damage_relations.half_damage_to" (click)="openTypesModal(double_to.name)">{{double_to.name}}</div>
                </li>
            </ul>
            <ul class="types">
                <span>Double damage from:</span>
                <li *ngFor="let type of currentTypes">
                    <div class="{{double_from.name}} type" *ngFor="let double_from of type.damage_relations.half_damage_from" (click)="openTypesModal(double_from.name)">{{double_from.name}}</div>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <!-- recently searched -->
    <div class="row">
        <div class="col-md-12 recently-searched text-center">
            <div *ngIf="searchedPokemon.length != 0">
                <h4 align="left">Recently searched pokemon:</h4>
                <div class="card-recent" *ngFor="let pokemon of searchedPokemon" (click)="openNewPokemon(pokemon.id)">
                    <div class="recent-pokemon">
                        <h4>{{ pokemon.name | capitalizeLetters:'01'}}</h4>
                        <img src="{{ pokemon.sprites.front_default }}" alt="" />
                    </div>
                </div>
            </div>
            <div *ngIf="searchedPokemon.length == 0">
                <h4 align="left">No recently searched pokemon!</h4>
            </div>
        </div>
    </div>
</div>