<div id="pokemon-list">
    <div bp="grid 6 4@md 2@lg">
        <div class="card">
            <div class="pokemon">
                <div class="pokemon-info">
                    <h4>Bulbasaurus</h4>
                    <div class="ball pokemon-id">
                        <span>13</span>
                    </div>
                    <div class="pokemon-ind">
                        <div class="ball poke-ind">
                            <span>14</span>
                            <p>Seba</p>
                        </div>
                        <div class="ball poke-ind">
                            <span>15</span>
                            <p>Med</p>
                        </div>
                    </div>
                </div>
                <div class="pokemon-image">
                    <img src="https://img.pokemondb.net/sprites/silver/normal/ivysaur.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>