<div id="pokemon-list">
    <div class="row">
        <div class="content">
            <div class="card">
                <div class="card-top-bg">
                    <div class="card-header">
                        <h4>Bulbasaur</h4>
                        <div class="card-img">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt="" />
                        </div>
                        <div class="card-types">
                            <ul>
                                <li class="grass">grass</li>
                                <li class="fire">fire</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="diamond">
                        <p>17</p>
                    </div>
                    <div class="card-icons">
                        <ul class="icons-list">
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-top-bg">
                    <div class="card-header">
                        <h4>Bulbasaur</h4>
                        <div class="card-img">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/5.png" alt="" />
                        </div>
                        <div class="card-types">
                            <ul>
                                <li class="water">water</li>
                                <li class="rock">rock</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="diamond">
                        <p>123</p>
                    </div>
                    <div class="card-icons">
                        <ul class="icons-list">
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-top-bg">
                    <div class="card-header">
                        <h4>Bulbasaur</h4>
                        <div class="card-img">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" alt="" />
                        </div>
                        <div class="card-types">
                            <ul>
                                <li class="poison">poison</li>
                                <li class="fighting">fighting</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="diamond">
                        <p>123</p>
                    </div>
                    <div class="card-icons">
                        <ul class="icons-list">
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-top-bg">
                    <div class="card-header">
                        <h4>Bulbasaur</h4>
                        <div class="card-img">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="" />
                        </div>
                        <div class="card-types">
                            <ul>
                                <li class="steel">steel</li>
                                <li class="electric">electric</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="diamond">
                        <p>123</p>
                    </div>
                    <div class="card-icons">
                        <ul class="icons-list">
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-top-bg">
                    <div class="card-header">
                        <h4>Bulbasaur</h4>
                        <div class="card-img">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png" alt="" />
                        </div>
                        <div class="card-types">
                            <ul>
                                <li class="normal">normal</li>
                                <li class="flying">flying</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="diamond">
                        <p>123</p>
                    </div>
                    <div class="card-icons">
                        <ul class="icons-list">
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-top-bg">
                    <div class="card-header">
                        <h4>Bulbasaur</h4>
                        <div class="card-img">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/21.png" alt="" />
                        </div>
                        <div class="card-types">
                            <ul>
                                <li class="ghost">ghost</li>
                                <li class="psychic">psychic</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="diamond">
                        <p>123</p>
                    </div>
                    <div class="card-icons">
                        <ul class="icons-list">
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-top-bg">
                    <div class="card-header">
                        <h4>Bulbasaur</h4>
                        <div class="card-img">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/22.png" alt="" />
                        </div>
                        <div class="card-types">
                            <ul>
                                <li class="bug">bug</li>
                                <li class="dragon">dragon</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="diamond">
                        <p>123</p>
                    </div>
                    <div class="card-icons">
                        <ul class="icons-list">
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>