<div class="settings-modal unselectable">
    <div class="close">
        <i class="fa fa-close" (click)="toggleSortModal(false)"></i>
    </div>
    <p ngDefaultControl [(ngModel)]="currentSort">Sort pokemon by:</p>
    <select class="custom-select custom-select-lg">
        <option selected value="id">Id</option>
        <option value="name">Name</option>
        <option value="type">Type</option>
    </select>
    <button (click)="sortPokemon()">
        Sort
    </button>
</div>
<div id="pokemon-list">
    <div class="poke-row">
        <div class="row control-board">
            <div class="col-md-9">
                <input ngDefaultControl [(ngModel)]="searchText" id="search" type="search" class="validate" placeholder="search pokemon">
            </div>
            <div class="col-md-3">
                <div class="sort">
                    <p>Sorted by:
                        <b>{{ currentSort }}</b>
                    </p>
                    <button class="open-sort" (click)="toggleSortModal(true)">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="change-view">
                        <button id="btnTable" class="active" (click)="changeView()" placement="bottom" ngbTooltip="Toggle view!">
                            <i class="fa fa-th"></i>
                        </button>
                        <button id="btnList" (click)="changeView()" placement="bottom" ngbTooltip="Toggle view!">
                            <i class="fa fa-list"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- list display -->
        <div class="content" *ngIf="currentViewList">
            <div class="row" [@reveal]="'in'" *ngFor="let pokemon of pokemonList | filter : searchText">
                <div class="col-md-12 list-item">
                    <div class="diamond">
                        <p>{{pokemon.id}}</p>
                    </div>
                    <div class="list-item-info">
                        <img src="{{ pokemon.sprites.front_default }}" alt="" />
                        <span [routerLink]="['/pokemon', pokemon.id]" placement="bottom" ngbTooltip="Check me out!">{{pokemon.name | capitalizeLetters:'01'}}</span>
                        <ul class="list-types">
                            <li *ngFor="let type of pokemon.types" class="{{ type.type.name }} type" (click)="openTypesModal(type)">{{ type.type.name }}</li>
                        </ul>
                    </div>
                    <div class="list-file">
                    </div>
                </div>
            </div>
        </div>

        <!-- default display -->
        <div class="content" *ngIf="!currentViewList">
            <div *ngIf="pokemonList">
                <div class="card" [@reveal]="'in'" *ngFor="let pokemon of pokemonList | filter : searchText">
                    <div class="card-top-bg">
                        <div class="card-header" (click)="addMsg('test')">
                            <h4>{{pokemon.name | capitalizeLetters:'01' }}</h4>
                            <div class="card-img unselectable">
                                <img src="{{ pokemon.sprites.front_default }}" alt="" />
                            </div>
                            <div class="card-types">
                                <ul>
                                    <li *ngFor="let type of pokemon.types" class="{{ type.type.name }}" (click)="openTypesModal(type)">{{ type.type.name }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="diamond">
                            <p>{{ pokemon.id }}</p>
                        </div>
                        <div class="card-icons">
                            <ul class="icons-list">
                                <li (click)="addMyPokemon(pokemon)">
                                    <img src="/assets/svg/pokeball.svg" alt="" placement="bottom" ngbTooltip="Catch me!">
                                </li>
                                <li [routerLink]="['/pokemon', pokemon.id]">
                                    <img src="/assets/svg/eye-icon.svg" alt="" placement="bottom" ngbTooltip="Check me out!">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>