#pokemon-list {
    padding: 35px;
}

.card {
    /*background: url('../../../assets/svg/kartica1.svg');
    background-repeat: no-repeat;
    */
    padding: 20px 30px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.card:hover {
    -webkit-box-shadow: -3px -4px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: -3px -4px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow: -3px -4px 3px 0px rgba(50, 50, 50, 0.5);
}

.card::after {
    content: '';
    position: absolute;
    background-color: #213861;
    border-top-left-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 65%;
}

.card::before {
    content: '';
    position: absolute;
    background-image: url('../../../assets/svg/corner.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 9%;
    background-color: #2B4B86;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.pokemon {
    position: relative;
    z-index: 1;
}

.pokemon-info {
    float: left;
    width: 60%;
}

.pokemon-info h4 {
    color: #FFCB05;
    margin: 10px 5px;
    letter-spacing: 1.5px;
    font-weight: lighter;
    line-height: 1.3rem;
    font-size: 1.3rem;
}

.ball {
    background-color: #e6ac00;
    border: 1px solid #FFCB05;
    border-radius: 50%;
    text-align: center;
    position: relative;
}

.ball span {
    color: #fff;
}

.pokemon-id {
    margin: 35px 5px 10px 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.pokemon-id span {
    font-size: 1.5rem;
}

.pokemon-ind {
    position: absolute;
    top: 35px;
    left: 25%;
}

.poke-ind {
    margin: 20px 5px 10px 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.poke-ind p {
    margin-left: 30%;
    position: absolute;
    top: -60%;
    left: 100%;
    color: #FFCB05;
}

.pokemon-image {
    float: right;
    padding: 10px 0;
}


.go-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #FFCB05;
    border: 1px solid #e6ac00;
    border-radius: 50%;
    cursor: pointer;
}

.go-top i {
    font-size: 1.5rem;
    color: #fff;
}

.separator {
    padding: 65px 0;
}