#pokemon-list {
    padding: 20px;
}

.card {
    background: url('../../../assets/svg/kartica1.svg');
    background-size: 213px 113px;
    margin: 10px 10px;
    background-repeat: no-repeat;
    border: 1px solid #008cba;
    border-radius: 5px;
}

.text h4 {
    float: left;
}

.text p {
    float: right;
}

.card img {
    margin: 10px;
}

.go-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #FFCB05;
    border: 1px solid #e6ac00;
    border-radius: 50%;
    cursor: pointer;
}

.go-top i {
    font-size: 1.5rem;
    color: #fff;
}

.separator {
    padding: 65px 0;
}