#pokemon-list {
    padding: 35px;
}

.card {
    /*background: url('../../../assets/svg/kartica1.svg');
    background-repeat: no-repeat;
    */
    padding: 20px 30px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.card:hover {
    -webkit-box-shadow: -3px -4px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: -3px -4px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow: -3px -4px 3px 0px rgba(50, 50, 50, 0.5);
}

.card::after {
    content: '';
    position: absolute;
    background-color: #213861;
    border-top-left-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 65%;
}

.card::before {
    content: '';
    position: absolute;
    background-image: url('../../../assets/svg/corner.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 9%;
    background-color: #2B4B86;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.pokemon {
    position: relative;
    z-index: 1;
}

.pokemon-info {
    float: left;
    width: 60%;
}

.pokemon-image {
    float: right;
    padding: 10px 0;
}

.pokemon-image img {
    
}

.go-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #FFCB05;
    border: 1px solid #e6ac00;
    border-radius: 50%;
    cursor: pointer;
}

.go-top i {
    font-size: 1.5rem;
    color: #fff;
}

.separator {
    padding: 65px 0;
}