<ng-sidebar-container allowSidebarBackdropControl="true">
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" showBackdrop="true" closeOnClickOutside="true" keyClose="true" mode="over">
        <aside>
            <div class="close-btn">
                <a closeSidebar>
                    <i class="fa fa-close"></i>
                </a>
            </div>
            <div class="nav">
                <ul class="nav-list">
                    <li class="active">asd</li>
                    <li>dsa</li>
                    <li>dsa</li>
                </ul>
            </div>
        </aside>
    </ng-sidebar>

    <div ng-sidebar-content>
        <!-- OVDE DODAJES ROOUTER OUTLET STA VEC -->
        <div class="navigation">
            <div class="open-close-button">
                <button (click)="_toggleSidebar()" class="sidebar-button">
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
            <div bp="grid vertical-center">
                <div bp="4 offset-5">
                    <div class="nav-logo">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2000px-International_Pok%C3%A9mon_logo.svg.png"
                            alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <router-outlet></router-outlet>
        <!--
        <div bp="grid 6 4@md 2@lg">   
        </div>
    -->
    </div>
</ng-sidebar-container>