<ng-sidebar-container allowSidebarBackdropControl="true">
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" showBackdrop="true" closeOnClickOutside="true" keyClose="true" mode="over">
        <aside>
            <div class="close-btn">
                <span class="left">Pokedex</span>
                <a closeSidebar>
                    <i class="fa fa-close"></i>
                </a>
            </div>
            <div class="nav">
                <ul id="nav-list">
                    <li (click)="setActive($event)" class="active" [routerLink]="['']">Pokemon list</li>
                    <li (click)="setActive($event)" [routerLink]="['/mypokedex']">My pokedex</li>
                    <div class="sidebar-separator"></div>
                    <li (click)="setActive($event)">dsa</li>
                    <li (click)="setActive($event)">dsa</li>
                    <div class="sidebar-separator"></div>
                    <li (click)="setActive($event)">TEST</li>
                    <li (click)="setActive($event)">Test</li>
                    <li (click)="setActive($event)">tEST</li>
                    <div class="sidebar-separator"></div>
                </ul>
            </div>
        </aside>
    </ng-sidebar>

    <div ng-sidebar-content>
        <!-- OVDE DODAJES ROOUTER OUTLET STA VEC -->
        <div class="navigation">
            <div class="open-close-button">
                <button (click)="_toggleSidebar()" class="sidebar-button">
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
        </div>
        <div class="separator"></div>
        <div [@routerAnimation]="getRouteAnimation(route)">
            <router-outlet #route="outlet"></router-outlet>
        </div>
        <app-messages></app-messages>
    </div>
</ng-sidebar-container>