/*
    blue:
        #335c99

    yellow:
        #ffcb05,
        #e6ac00,
        #cca204
*/

.navigation {
    background: #FFCB05;
    /*
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2000px-International_Pok%C3%A9mon_logo.svg.png');
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: center center;
    */
    border-bottom: 10px solid #e6ac00;
    padding: 0 0;
    width: 100%;
    text-align: center;
    height: 90px;
    line-height: 90px;
    text-align: center;
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.navigation::after {
    content: "";
    display: inline-block;
    width: 350px;
    height: 150px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2000px-International_Pok%C3%A9mon_logo.svg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 10px;
    left: 35rem;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
}

ul {
    -webkit-padding-start: 0 !important;
}

.nav {
    padding: 10px 0 10px 0;
}

#nav-list {
    list-style-type: none;
}

#nav-list li {
    cursor: pointer;
    color: #FFCB05;
    padding: 15px 40px;
}

#nav-list li:hover {
    background-color: #4c6fb2;
    background-image: url('https://image.flaticon.com/icons/svg/528/528101.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 30px;
    color: #e6ac00;
}

.active {
    background-color: #4c6fb2;
    background-image: url('https://image.flaticon.com/icons/svg/528/528101.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 30px;
    color: #e6ac00;
}

.open-close-button {
    float: left;
    margin-left: 15px;
}

.sidebar-button {
    background: transparent;
    padding: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #e6ac00;
}

.sidebar-button:hover {
    color: #cca204;
}

.close-btn {
    padding: 25px 0 0 0;
    text-align: center;
}

.close-btn a i {
    font-size: 1.2rem;
    color: #ffcb05;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.close-btn a i:hover {
    color: #e6ac00;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.separator {
    padding: 65px 0;
}

/* sidebar style */

ng-sidebar-container {
    height: 100vh;
}

aside {
    background: #335c99;
    width: 290px;
    height: 100%;
}