/*
    blue:
        #335c99,
        #2B4B86,
        #213861

    yellow:
        #ffcb05,
        #e6ac00,
        #cca204

    red:
        #e85350
*/

.navigation {
    background: #FFCB05;
    border-bottom: 10px solid #e6ac00;
    padding: 0 0;
    width: 100%;
    text-align: center;
    height: 90px;
    line-height: 90px;
    z-index: 500;
    text-align: center;
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.navigation::after {
    content: '';
    display: inline-block;
    width: 350px;
    height: 150px;
    background-image: url('/assets/png/pokemon-logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 10px;
    left: 0;
    bottom: 0;
    -webkit-transform: rotate(7deg) translateX(-50px);
    -moz-transform: rotate(7deg) translateX(-50px);
    -ms-transform: rotate(7deg) translateX(-50px);
    -o-transform: rotate(7deg) translateX(-50px);
    transform: rotate(7deg) translateX(-50px);
}

ul {
    -webkit-padding-start: 0 !important;
}

.nav {
    padding: 10px 0 10px 0;
}

#nav-list {
    list-style-type: none;
}

#nav-list li {
    cursor: pointer;
    color: #FFCB05;
    padding: 15px 40px;
    outline: none;
}

#nav-list li:hover {
    background-color: #4c6fb2;
    background-image: url('/assets/svg/pokeball.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 30px;
    color: #e6ac00;
}

.active {
    background-color: #4c6fb2;
    background-image: url('/assets/svg/pokeball-active.svg') !important;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 30px;
    color: #e6ac00;
}

.open-close-button {
    float: left;
    margin-left: 15px;
}

.sidebar-button {
    background: transparent;
    padding: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #e6ac00;
}

.sidebar-button:hover {
    color: #cca204;
}

.close-btn {
    padding: 25px 35px 0 30px;
    text-align: right;
}

.close-btn span {
    color: #fff;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 1.6em;
    font-family: Righteous;
}

.close-btn a i {
    font-size: 1rem;
    line-height: 1.9rem;
    color: #FFCB05;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.close-btn a i:hover {
    color: #e6ac00;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.separator {
    padding: 45px 0;
}

.sidebar-separator {
    background-color: #264573;
    padding: 4.5px 0;
    margin: 10px 0;
}

.go-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #FFCB05;
    border: 1px solid #e6ac00;
    border-radius: 50%;
    cursor: pointer;
}

.go-top i {
    font-size: 1.5rem;
    color: #fff;
}

/* sidebar style */

ng-sidebar-container {
    height: 100vh;
}

aside {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 10px solid #264573;
    border-bottom: 10px solid #264573;
    background: #335c99;
    width: 290px;
    height: 100%;
}